html, body {
  font-family: sans-serif;
  color: rgb(51, 50, 51);
  margin: 0;
  padding: 0;
}

h1, h2, l1, p {
  padding: 5px;
  text-align: center;
}

.form-field {
  text-align: center;
  display: block;
  margin: atuo;
}

.btn-style{
	border : solid 1px rgb(51, 51, 51);
	border-radius : 3px;
	color : #292929;
	padding : 1px 20px;
  font-size: 14pt;
	background-color : #ffffff;
  width: 15%;
  height: 50px;

}

.txt-field-style {
  border: solid 1px rgb(51, 51, 51);
  border-radius: 3px;
  color: #282828;
  padding: 1px 20px;
  font-size: 12pt;
  width: 15%;
  height: 50px;
  margin: 10px;
  text-align: center;
}

.sub-heading {
  text-align: center;
  color: rgb(245, 245, 245)
}

.header {
  background-color: rgb(51, 50, 51);
  width: 100%;
  height: 100px;
  top: 0;
  position: absolute;
}

.push {
  /*I found this on a fiddle, but can't remember where. Compensates for the header.*/
  margin: 100px;
}
